<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello, World!!!</title>
    </head>
    <body>
        <div class="container">
            <h1>Our school</h1>
            <div>
                {% if current_user.is_authenticated %}
                    <label>{{ current_user.name }}</label>
                {% else %}
                    <label>Anonimus</label>
                {% endif %}
            </div>
            {% for message in get_flashed_messages() %}
                <div>
                    <font color="red">{{ message }}</font>
                    <br>
                </div>
            {% endfor %}
            {% block content %} {% endblock %}
        </div>
    </body>
</html>