{% extends 'base.html' %}

{% block content %}
    <label>Количество классов: {{ count }}</label>
    <form method="post">
        <label for="class">ВВедите класс: </label>
        <input type="text" name="class" placeholder="Например: 1а">
        <button type="submit">Количество</button>
    </form>
    {% if count_st and count_st != 'Такого класса не существует' %}
        <div class="label">
            <hr>
            <label>В классе {{ cl }} - {{count_st}} учеников</label>
        </div>
    {% else %}
        <div class="label">
            <hr>
            <label>{{ count_st }}</label>
        </div>
    {% endif %}
    {% if current_user.is_authenticated %}
        <hr>
        <form>
            <button formaction="{{ url_for('create') }}">Создать</button>
        </form>
        <hr>
        <form>
            <button formaction="{{ url_for('show') }}">Показать</button>
        </form>
        <hr>
    {% endif %}
    {% if not current_user.is_authenticated %}
        <form>
            <button formaction="{{ url_for('login') }}">Войти</button>
        </form>
    {% else %}
        <form>
            <button formaction="{{ url_for('logout') }}">Выйти</button>
        </form>
    {% endif %}
{% endblock %}
